
body{
    text-align:left;
    font-size: larger;
    background-color: #004500;
}
form{
    color: #fff;
}
h1{
    font-size: 250%;
    text-align:left;
    color: #fff;
}
h2{
    font-size: larger;
}